body, html {
    height: 100%;
    overflow: auto;
}

#itemSearch {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.items {
    height: 350px;
    overflow-y: scroll;
}

.item {
    cursor: pointer;
    height: 30px;
}

.item .itemImage span {
    font-style: italic;
}

.itemImage {
    width: 30px;
    height: 30px;
    display: inline;
}

.itemImage img {
    max-width: 30px;
    max-height: 30px;
}

.equipSlot {
    height: 30px;
}
