#itemSearch {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.item {
    cursor: pointer;
    height: 40px;
}

.item .itemImage span {
    font-style: italic;
}

#equippedItems {

}

#requirements {
}