body, html {
    height: 100%;
    overflow: auto;
}

#itemSearch {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.items {
    height: 350px;
    overflow-y: scroll;
}

.item {
    cursor: pointer;
    height: 40px;
}

.item .itemImage span {
    font-style: italic;
}

.equipSlot {
    height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}